html, body {
	width: 100%;
	padding:0px;
	margin:0px;
	height:100%;
	font-family: 'robotoLight' !important;
}

h1, h2{
	text-align:center;
	font-family:'robotoBold' !important;
}

h2 {
	margin-bottom:30px !important;
}

a {
	text-decoration:underline !important;
}

@font-face {
    font-family: 'homePage';
    src: url('Fonts/Basterds.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('Fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'robotoBold';
    src: url('Fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'robotoLight';
    src: url('Fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'robotoItalic';
    src: url('Fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'nav';
    src: url('Fonts/Gidole-Regular.ttf');
}


#splash{
	position:fixed;
	z-index:1000000;
	top:7px;
	left:45%;
	width:10%;
}

.logo {
	width:100%;
}

.logo:hover{
	width:110%;
}

#splash:hover{
	left:44.5%;
}

.navigation {
	width:100%;
	height:90px;
	color:white;
	position:fixed;
	z-index:9999;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	text-align:center;

	font-family:nav;
	font-size:17px;

	background: #1f1f1f; /* For browsers that do not support gradients */
	background: linear-gradient(top,  #333333,  #1F1F1F);
	background: -ms-linear-gradient(top,  #333333,  #1F1F1F);
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#1F1F1F));
}

.mainPages .row{
	margin-top:30px;
}

.mainPages span {
	margin:auto 60px;
	text-align:center;
}


.mainPages span:hover {
	text-decoration: underline;
}

section {
    display: block;
    width:100%;
    overflow:auto;
    border-style: solid;
    border-width: 3px;
}

.selected {
	text-decoration: underline;
}

.banner {
	width:100%;
	height:300px;
	background-color:lightgrey;
	margin-bottom:30px;
	margin-top:90px;
}

.scrollDown {
	position:absolute;
	top:60%;
	left:50%;
}

.bounce {
  position:absolute;
  left:50%;
  bottom:0px;
  margin-top:-25px;
  margin-left:-25px;
  height:100px;
  width:100px;
  color:white;
  z-index:9996;
  -webkit-animation:bounce 2s infinite;
}

.arrow {
	width:70%;
}

#homePage h1{
	font-family:'homePage' !important;
	font-size:80px;
	z-index: 9998;
	color:white;
	position:absolute;
	margin-left: auto auto;
	left: 0;
	right: 0;
	top:150px;
}

.credit {
	color:white;
	position:absolute;
	z-index:9997;
	bottom:0px;
	right:20px;
}

.credit a {
	color:white;
}

#homePage video#bgvid {
	position: absolute; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: no-repeat;
	background-size: cover;
}

#homePage #transparentBG {
	background-color: black;
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
	opacity: 0.4;
	z-index:-1;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

#michaelsStory {
	background-color:white;
	height:2700px !important;
}

#map {
    height: 80%;
    max-width:80%;
    max-height:50%;
    margin:40px auto;
}

.popUpImg {
	float:left;
	width:20%;
	margin-right:20px;
}

#subZero {
	background-color:white;
	height:1700px !important;
}

#surfJam {
	background-color:white;
	height:1900px !important;
}

#equipment {
	width:75%;
	height:350px;
	display:block;
	margin:40px auto;
	background-color:grey;
}

#communityCuriosity {
	background-color:white;
	height:2600px !important;
}

@media screen and (max-device-width: 800px) {
    html {
         /*background: url(polina.jpg) #000 no-repeat center center fixed;*/
    }
    #bgvid {
        display: none;
    }
}