html, body {
	width: 100%;
	padding:0px;
	margin:0px;
	height:100%;
	font-family: 'robotoLight' !important;
}

h1, h2{
	text-align:center;
	font-family:'robotoBold' !important;
}

h2 {
	margin-bottom:30px !important;
}

p {
	font-size:16px;
}

a {
	text-decoration:underline !important;
}

@font-face {
    font-family: 'homePage';
    src: url('Fonts/Basterds.ttf');
}

@font-face {
    font-family: 'roboto';
    src: url('Fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'robotoBold';
    src: url('Fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'robotoLight';
    src: url('Fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'robotoItalic';
    src: url('Fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'nav';
    src: url('Fonts/Gidole-Regular.ttf');
}

@font-face {
    font-family: 'subTitle';
    src: url('Fonts/Surface-Medium.otf');
}

div#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #333 url("http://files.mimoymima.com/images/loading.gif") no-repeat center center;
  z-index: 99999999; 
}

#splash{
	position:fixed;
	z-index:1000000;
	top:7px;
	left:45%;
	width:10%;
}

.logo {
	width:100%;
}

.logo:hover{
	width:110%;
}

#splash:hover{
	left:44.5%;
}

.navigation {
	width:100%;
	height:90px;
	color:white;
	position:fixed;
	z-index:9999;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	text-align:center;

	font-family:nav;
	font-size:17px;

	background: #1f1f1f; /* For browsers that do not support gradients */
	background: linear-gradient(top,  #333333,  #1F1F1F);
	background: -ms-linear-gradient(top,  #333333,  #1F1F1F);
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#1F1F1F));
}

.mainPages .row{
	margin-top:30px;
}

.mainPages span {
	margin:auto 60px;
	text-align:center;
}


.mainPages span:hover {
	text-decoration: underline;
}

section {
    display: block;
    width:100%;
    overflow:auto;
    border-style: solid;
    border-width: 3px;
}

.selected {
	text-decoration: underline;
}

.scrollDown {
	position:absolute;
	top:80%;
	left:49%;
}

.bounce {
  position:absolute;
  left:50%;
  bottom:0px;
  margin-top:-25px;
  margin-left:-25px;
  width:100px;
  color:white;
  z-index:9996;
  -webkit-animation:bounce 2s infinite;
}

.arrow {
	width:70%;
}

.arrow:hover{
	filter:opacity(40%);
}

#mpBanners{
	margin-top:65px;
	width:100%;
	height:auto;
}

#homePage h1{
	font-family:'homePage' !important;
	font-size:80px;
	z-index: 9998;
	color:white;
	position:absolute;
	margin-left: auto auto;
	left: 0;
	right: 0;
	top:230px;
}

#homePage h3{
	font-family:'subTitle' !important;
	font-size:35px;
	z-index: 9998;
	color:white;
	position:absolute;
	margin-left: auto auto;
	left: 0;
	right: 0;
	top:350px;
	text-align:center;
}

.credit {
	color:white;
	position:absolute;
	z-index:9997;
	bottom:0px;
	right:20px;
}

.credit a {
	color:white;
}

#homePage video#bgvid {
	position: absolute; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: no-repeat;
	background-size: cover;
}

#homePage #transparentBG {
	background-color: black;
	height: 100%;
	width: 100%;
	margin: 0;
	padding:0;
	opacity: 0.4;
	z-index:-1;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

#michaelsStory {
	background-color:white;
	height:4400px !important;
}

#paragraphVid{
	width:90%;
	max-width:100%;
	display:block;
	margin:40px auto;
}

#map {
    height: 90%;
    max-width:90%;
    max-height:50%;
    margin:40px auto;
}

.firstHeading {
	margin:0px;
	padding:0px;
}

.popUpImg {
	float:left;
	width:40%;
	margin-right:10px;
}

#subZero {
	background-color:white;
	height:3100px !important;
}

#equipment {
	width:90%;
	height:540px;
	display:block;
	margin:40px auto;
	position:relative;
	color:black;
}

#equipment h3 {
	text-align:center;
	margin:0px;
}

#equipment img {
	padding:25px;
	margin:auto auto;
	display:block;
	position:relative;
}

#board h3 {
	padding-left:25px;
}

#gloves {
	padding-top:45px !important;
	padding-bottom:30px !important;
}

#boots {
	padding-top:15px !important;
}

.wake {
	padding-bottom:30px;
}

#surfJam {
	background-color:white;
	height:1900px !important;
}

#communityCuriosity {
	background-color:white;
	height:3700px !important;
}

hr {
	border-top:2px solid darkgrey !important;
	margin-top:30px !important;
	margin-bottom:30px !important;
}

.info {
  position:absolute;
  
  width:300px;
  z-index:9996;
  padding:15px;
  margin:1em 0 3em;
  color:#000;
  background:#71c1a2;
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
  background:-moz-linear-gradient(#9ad7bf, #71c1a2);
  background:-o-linear-gradient(#9ad7bf, #71c1a2);
  background:linear-gradient(#9ad7bf, #71c1a2);
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

#boardInfo {
	left:-200px;
}

#ropeInfo {
	right:-180px;
	top:-80px;
}

#leashInfo {
	right:-175px;
	top:10px;
}

#glovesInfo{
	right:50px;
	top:290px;
}

#bootsInfo {
	right:-175px;
	top:275px;
}

#boardInfo:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  right:30px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#71c1a2 transparent;
  display:block;
  width:0;
}

#ropeInfo:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:20px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#71c1a2 transparent;
  display:block;
  width:0;
}

#leashInfo:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:20px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#71c1a2 transparent;
  display:block;
  width:0;
}

#glovesInfo:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:20px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#71c1a2 transparent;
  display:block;
  width:0;
}

#bootsInfo:after {
  content:"";
  position:absolute;
  bottom:-15px; /* value = - border-top-width - border-bottom-width */
  left:20px; /* controls horizontal position */
  border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#71c1a2 transparent;
  display:block;
  width:0;
}

#surfBoardImg:hover{
	width:125%;
}

#rope:hover{
	width:75%;
}

#leash:hover{
	width:75%;
}

#gloves:hover{
	width:80%;
}

#boots:hover{
	width:75%;
}

.banner{
    width:100%;
    height:auto;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    margin: auto;
    margin-top:65px;
}

.botas_loop_3,.botas_loop_2{
    display:none
}

#screenWarning {
	display:none;
	background-color:grey;
	color:black;
	text-align:center;
	width:100%;
	height:100%;
}

.inlineImg{
	float:left;
	margin-right:20px;
}

.fullImg {
	margin:auto auto;
	display:block;
	margin:20px;
}

.carousel{
	margin:auto auto;
	display:block;
}

.surfingSteps{
	margin-top:50px;
}

.pageContent {
	display:block;
}

.price {
	font-size:18px;
	text-decoration: underline;
}

@media screen and (max-width: 1310px) {
    #screenWarning {
    	position:fixed;
    	display:block;
    }

    .pageContent {
    	display:none;
    }
}